@charset "utf-8";
/* CSS Document */

body
{
	margin:0px;
}

.head
{
	background-color:#80B000;
	height:90px;
}

.frm
{
	
	height:370px;
width:700px;
margin-left:auto;
margin-right:auto;
margin-top:100px;


	
}


.san
{
width:800px;
margin-left:auto;
margin-right:auto;
border:1px solid #E3E3E3;
border-radius:10px;
height:auto;
line-height:20px;
padding-left:60px;
min-height:80px;
padding-top:10px;
padding-bottom:40px;
line-height:32px;
font-size:18px;


}

.txt
{
	
	height:25px;
	width:250px;
	
}

.sub
{
	margin-left:auto;
	margin-right:auto;
	width:100px;
	height:35px;
	margin-left:250px;
}

.foot
{
	margin-top:90px;
background-color:#80B000;
	height:90px;
	color:#FFFFFF;
	
}